[user]
  name = Robin de Boer
  email = robindboer@gmail.com
[core]
  gpgProgram = gpg
  editor = nvim
[init]
  defaultBranch = main
[commit]
  template = /home/robin/.gitmessage
  gpgsign = true
[rerere]
  enabled = true
[column]
  ui = auto
[push]
  default = current
  followtags = true
[diff]
  algorithm = histogram
  context = 10
[log]
  date = iso
[help]
	autocorrect = prompt
