[user]
    name = Robin de Boer
    email = robindboer@gmail.com
[core]
    gpgProgram = gpg
    editor = nvim
[init]
    defaultBranch = master
[commit]
    template = /home/robin/.gitmessage
    gpgsign = true
[alias]
    staash = stash --all
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = --committerdate
[maintenance]
	repo = /Users/robin/dev/uMob
