[user]
  name = Robin de Boer
  email = robindboer@gmail.com
  signingkey = 7327FD2A4FE000523D74CCFAC48F83D239E5C846
[core]
  gpgProgram = gpg
  editor = nvim
[init]
  defaultBranch = main
[commit]
  template = /home/robin/.gitmessage
  gpgsign = true
[rerere]
  enabled = true
[column]
  ui = auto
[push]
  default = current
  followtags = true
[pull]
  rebase = true
[diff]
  algorithm = histogram
  context = 10
[rebase]
  autoStash = true
  updateRefs = true
[log]
  date = iso
[help]
  autocorrect = prompt
